<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <customer>
            <customer_note>
                <notes>Leave at the doorstep&#10;Leave in the backyard&#10;Ring longer</notes>
            </customer_note>
        </customer>
    </default>
</config>